<h1><%= current_user.name %></h1>
<div>
</div>

<div>
  <%= current_user.address1 %><br/>
  <%= current_user.address2 %>
  <%= current_user.city %>, <%= current_user.state %> <%= current_user.zip %>
</div><br/>
<div>
  <p><%= current_user.about %></p>
</div>
<div><%= current_user.phone %></div>
<div><%= current_user.email %></div>