<% if @pet.errors.any? %>
    <ul>
      <% @pet.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
    </ul>
<% end %>
<h1>Pet(s)</h1>
<%= form_for @pet do |f| %>
    <label>Name<%= f.text_field :name %></label><%= error_messages_on @pet, :name %><br>
    <label>Breed<%= f.text_field :breed %></label><%= error_messages_on @pet, :breed %><br>
    <label>Color<%= f.text_field :color %></label><%= error_messages_on @pet, :color %><br>

    <div><%= label :female, "Female?" %>
      <% f.radio_button :access_rights, false, :checked => true, :value => false %></div>
      <br>

    <%= f.text_area :body, rows: 8, cols: 40 %></label><%= error_messages_on @pet, :body %><br>
    <label>
    <%= render partial: 'category_picker' %>
    <input type="submit" name="submit" value="Pet!">
<% end %>




<!-- t.string   :name
t.integer  :user_id
t.string   :breed
t.string   :color
t.boolean  :female
t.boolean  :spayed_neutered
t.integer  :birth_year
t.text     :feeding
t.text     :medications
t.date     :vaccinations
t.text     :vaccination_medical_notes
t.date     :flea_tick_application
t.text     :temperament
t.text     :notes -->
