<% if @pet.errors.any? %>
    <ul>
      <% @pet.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
    </ul>
<% end %>
<h1>Pet(s)</h1>
<%= form_for @pet do |f| %>
    <label>Name<%= f.text_field :name %></label>
    <label>Breed<%= f.text_field :breed %></label>
    <label>Color<%= f.text_field :color %></label>

    <div><%= f.label :female, "Gender" %>
      <%= f.radio_button :female, true%>
      <%= f.label :female_true, "Female"%>
      <%= f.radio_button :female, false%>
      <%= f.label :female_false, "Male"%>
    </div>
      <br>


    <%= render partial: 'category_picker' %>
    <input type="submit" name="submit" value="Pet!">
<% end %>




<!-- t.string   :name
t.integer  :user_id
t.string   :breed
t.string   :color
t.boolean  :female
t.boolean  :spayed_neutered
t.integer  :birth_year
t.text     :feeding
t.text     :medications
t.date     :vaccinations
t.text     :vaccination_medical_notes
t.date     :flea_tick_application
t.text     :temperament
t.text     :notes -->
