<h1>Your Pet</h1>
<h2><%= @pet.name %></h2>
<p>
  <%= @pet.breed %>
</p>
<p>
  <%= @pet.color %>
</p>
<p>
  <%= @pet.female ? "Female" : "Male" %>
</p>
<p>
  <%= @pet.spayed_neutered ? "Yes" : "No" %>
</p>
<p>
  <%= @pet.birth_year %>
</p>
<p>
  <%= @pet.feeding %>
</p>
<p>
  <%= @pet.medications %>
</p>
<p>
  <%= @pet.vaccinations %>
</p>
<p>
  <%= @pet.vaccination_medical_notes %>
</p>
<p>
  <%= @pet.flea_tick_application %>
</p>
<p>
  <%= @pet.temperament %>
</p>
<p>
  <%= @pet.notes %>
</p>

<%= link_to 'Pets', '/pets' %>
&nbsp;
&nbsp;
<%= link_to 'Edit', edit_pet_path(@pet) %>
&nbsp;
&nbsp;
<%= link_to 'Delete', pet_path(@pet), method: 'delete' %>
